:root {
  --primary-color: #1A8EFD;
  --secondary-color: #F3F7FA;
  --accent-color: #0C6FD8;
  --font-color: #1A1A1A;
  --bg-color: #FFFFFF;
  --border-radius: 12px;
  --transition: 0.3s ease;
  --font-family: 'Rubik', sans-serif;
}
.about-section {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: linear-gradient(to right, var(--secondary-color), var(--bg-color));
    font-family: var(--font-family);
}
/* Image */
.about-image-content {
    width: 50%;
    max-width: 100%;
    text-align: center;
}
.about-image1 {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.about-image1:hover {
    transform: scale(1.05);
}
/* Text */
.about-text-content {
    width: 50%;
}
.about-title {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: bold;
    color: var(--font-color);
}
.about-title > span {
    position: relative;
}
.about-title span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.about-description {
    margin: 32px 0;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 18px;
    letter-spacing: .7px;
    line-height: 1.7rem;
}
.about-text-title {
    margin: 0 0 24px 0;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .7px;
}
/* Steps */
.about-text-step {
    margin: 16px 0;
}
.about-text-sTitle {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
    color: var(--font-color);
}
.about-text-description {
    margin: 8px 24px;
    color: var(--font-color);
    font-family: var(--font-family);
    letter-spacing: .7px;
    line-height: 1.6rem;
}
.fa-icon {
    color: var(--primary-color);
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        display: block;
    }
    .about-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 32px 0;
    }
    .about-image1 {
        width: 100%;
        height: 100%;
    }
    .about-text-content {
        width: 100%;
    }
}
