:root {
  --primary-color: #1A8EFD;
  --secondary-color: #F3F7FA;
  --accent-color: #0C6FD8;
  --font-color: #1A1A1A;
  --bg-color: #FFFFFF;
  --border-radius: 12px;
  --transition: 0.3s ease;
  --font-family: 'Rubik', sans-serif;
}
.ba-section {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: linear-gradient(to right, var(--secondary-color), var(--bg-color));
    font-family: var(--font-family);
}
/* Image */
.ba-image-content {
    width: 50%;
    max-width: 100%;
    text-align: center;
}
.ba-image1 {
    width: 80%;
    height: auto;
}
/* Text */
.ba-text-content {
    width: 50%;
}
.ba-title {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .7px;
    color: var(--font-color);
}
.ba-title > span {
    position: relative;
}
.ba-title span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.ba-description {
    margin: 32px 0;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.8rem;
}
/* Checks */
.ba-checks {
    margin: 28px 0;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .7px;
    color: var(--font-color);
}
.ba-check-first {
    margin-top: 40px;
}
.ba-check-last {
    margin-bottom: 40px;
}
/* Book Appointment Button */
.ba-appointment-btn {
    padding: 18px 24px;
    color: white;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    outline: transparent;
    background-color: var(--primary-color);
    font-size: 20px;
    font-family: var(--font-family);
    letter-spacing: .8px;
    cursor: pointer;
    transition: var(--transition);
}
.ba-appointment-btn:hover {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .ba-section {
        display: block;
    }
    .ba-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 32px 0;
    }
    .ba-text-content {
        width: 100%;
    }
    .ba-image1 {
        width: 80%;
        height: 80%;
    }
}
